<div class="app_title playlist_title ui raised very padded text container segment">
  A l g o r h y t h m
</div>
<div class="content ui raised very padded text container segment">
  <div class="ui divider"></div>

  <p id="about_page">Welcome to Algorythm: a functional Spotify recommendation app. It was developed it to give the user control over their playlists, tailoring music for any desired mood, whether it's for their morning commute or the perfect soundtrack to their workout. No longer will you be trapped on the train, wondering why Spotify decided your daily recommendation list should be a mix of Backstreet Boys and Toto. You have the control now. Pick any selection of Artists, Tracks, or Genres and Algorythm will create the perfect playlist for you.</p>
  <div class="ui divider"></div>

</div>
