<div class="playlist_title ui raised very padded text container segment">
  About Our App
</div>
<div class="content ui raised very padded text container segment">
  <p>[insert title here] is a functional Spotify recommendation app. We developed it to give you control over your morning commute. No longer will you be trapped on the train, wondering why Spotify decided your daily recommendation list should be a mix of Backstreet Boys and Toto.</p>
</div>
