<div class="username playlist_title ui raised very padded text container segment">
<%= @user.display_name %> - <%= @user.username %></div>

<% if @user.id == session[:user_id] %>
  <!-- <button class="sign_in ui green button" href="/auth/spotify">Sign In With Spotify</button> -->
  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<% end %>
<br>
<br>

<div class="ui raised very padded text container segment">
<h3 id="user_playlist">User's Playlists</h3>
<br>
  <div id="each_playlist"><% @user.playlists.each do |playlist| %>
    <%= link_to playlist.name, playlist %><br>
  <% end %>
</div>
</div>
