<div class="ui raised very padded text container segment">

<div class="playlist_header">Playlists</div>
<div class="ui divider"></div>

<h2>Sort By:</h2>
<%= form_tag playlists_path, method: "get" do %>
  <%= select_tag :option, options_for_select(["Recent", "Popular All-Time", "Hot"]) %>
  <%= submit_tag "Filter" %>
<% end %>
<br>
  <% @playlists.each do |playlist| %>
    <p style="font-size:25px"><%= link_to playlist.name.downcase, playlist %></p>
  <% end %>
</div>
